* {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
* a {
  color: black;
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/img/background1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (orientation: portrait) {
  .wrapper-1 {
    background-image: url(../assets/img/mby1.png);
    align-items: center;
  }
}
.wrapper-1 nav {
  width: 90%;
  position: absolute;
  top: 2vmax;
  right: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav {
    width: 100%;
    right: 0;
    top: 0;
    padding: 2vmax 0;
    background-color: #f2f2f2;
    border-bottom: 3px solid #f1c40f;
  }
}
.wrapper-1 nav ul {
  list-style: none;
}
.wrapper-1 nav h1 {
  font-weight: 400;
  font-size: 2vmax;
  cursor: pointer;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav h1 {
    font-size: 3vmax;
    margin-left: 4vmax;
  }
}
.wrapper-1 nav h1 br {
  display: block;
  content: "";
  margin-top: -1.5vmax;
}
.wrapper-1 nav .mobile-view {
  width: 7vmax;
  height: 7vmax;
  margin-right: 4vmax;
  transition: 100ms ease;
  background-image: url(../assets/icons/menu-icon.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav .mobile-view {
    display: block;
  }
}
.wrapper-1 nav .mobile-active {
  transform: rotate(45deg);
  transition: 100ms ease;
  background-image: url(../assets/icons/close-icon.png);
}
.wrapper-1 nav .menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav .menu {
    background-color: #f2f2f2;
    width: 100%;
    position: absolute;
    top: 100%;
    margin-top: 3px;
    flex-direction: column;
    padding: 5vmax 0;
    z-index: 100;
    display: none;
  }
}
.wrapper-1 nav .menu a {
  text-decoration: none;
  color: black;
}
.wrapper-1 nav .menu a:visited {
  color: black;
}
.wrapper-1 nav .menu a .menu-item {
  font-size: 1.4vmax;
  cursor: pointer;
  align-items: center;
  padding: 0.5vmax 1vmax;
  display: flex;
  transition: 400ms ease;
  position: relative;
  background-color: #f2f2f2;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav .menu a .menu-item {
    font-size: 3vmax;
    margin: 1vmax 0;
  }
}
.wrapper-1 nav .menu a .menu-item .menu-arrow-icon {
  width: 1vmax;
  height: 1vmax;
  margin-left: 0.5vmax;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/arrow-icon.png);
}
.wrapper-1 nav .menu a .menu-item::before {
  transition: 400ms ease;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: black;
}
.wrapper-1 nav .menu a .menu-item:hover::before {
  width: 100%;
}
.wrapper-1 nav .menu .menu-offer {
  position: relative;
}
.wrapper-1 nav .menu .menu-offer:hover .menu-offer-list {
  transition: 250ms ease;
  display: flex;
}
.wrapper-1 nav .menu .menu-offer .menu-offer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-1 nav .menu .menu-offer .menu-offer-button .menu-btn-icon {
  width: 1vmax;
  height: 1vmax;
  margin-left: 1vmax;
  transition: 350ms ease;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/arrow-icon.png);
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav .menu .menu-offer .menu-offer-button .menu-btn-icon {
    width: 2.5vmax;
    height: 2.5vmax;
  }
}
.wrapper-1 nav .menu .menu-offer .menu-offer-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1c40f;
  left: 0;
  width: 200%;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav .menu .menu-offer .menu-offer-list {
    position: relative;
    margin-left: -50%;
    transform: scale(1);
    height: unset;
    background-color: unset;
  }
}
.wrapper-1 nav .menu .menu-offer .menu-offer-list a {
  text-decoration: none;
  color: black;
  font-size: 1.2vmax;
  padding: 0.5vmax;
  margin: 0.5vmax 0;
  position: relative;
}
.wrapper-1 nav .menu .menu-offer .menu-offer-list a::before {
  transition: 400ms ease;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: black;
}
.wrapper-1 nav .menu .menu-offer .menu-offer-list a:hover {
  transition: 400ms ease;
  background-color: #f1c40f;
}
.wrapper-1 nav .menu .menu-offer .menu-offer-list a:hover::before {
  width: 100%;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav .menu .menu-offer .menu-offer-list a {
    font-size: 2.5vmax;
    color: #333333;
    font-weight: 200;
  }
}
.wrapper-1 nav .menu .menu-offer .menu-offer-list a li {
  padding: 0.5vmax 0;
}
.wrapper-1 nav .menu .menu-offer .hide {
  display: none;
}
@media screen and (orientation: portrait) {
  .wrapper-1 nav .menu .menu-offer .hide {
    display: flex;
  }
}
.wrapper-1 nav .menu .contact {
  color: #f1c40f;
}
.wrapper-1 nav .menu .contact:hover {
  transition: 400ms ease;
  color: black;
  background-color: #f1c40f;
}
.wrapper-1 nav .active {
  display: flex;
}
.wrapper-1 .wrapper-1-content {
  margin-left: 6vmax;
  margin-top: 8vmax;
  width: 50%;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content {
    margin: 5vmax auto 0 auto;
    width: 80%;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content {
    width: 90%;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-title {
  font-size: 3vmax;
  font-weight: 500;
  margin-bottom: 2vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-title {
    font-size: 6vmax;
    margin-bottom: 3vmax;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content .wrapper-1-title {
    font-size: 5vmax;
    margin-bottom: 2vmax;
    margin-top: 4vmax;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-description {
  font-size: 1.1vmax;
  width: 60%;
  font-weight: 200;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-description {
    font-size: 2.5vmax;
    width: 90%;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content .wrapper-1-description {
    font-size: 2.2vmax;
  }
}
.wrapper-1 .wrapper-1-content .wrapper-1-button {
  position: relative;
  margin-top: 5vmax;
  font-size: 1.4vmax;
  padding: 1vmax 1.5vmax;
  background-color: #f1c40f;
  cursor: pointer;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button::before {
  transition: 400ms ease;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: black;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button:hover {
  transition: 400ms ease;
  background-color: #f1c40f;
}
.wrapper-1 .wrapper-1-content .wrapper-1-button:hover::before {
  width: 100%;
}
@media screen and (orientation: portrait) {
  .wrapper-1 .wrapper-1-content .wrapper-1-button {
    font-size: 2.5vmax;
    margin-top: 7vmax;
    padding: 2vmax 2.5vmax;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-1 .wrapper-1-content .wrapper-1-button {
    font-size: 2vmax;
  }
}

.wrapper-2 {
  width: 100%;
  background-color: #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmax 0;
  overflow-x: hidden;
}
.wrapper-2 .goUp-btn {
  width: 4vmax;
  height: 4vmax;
  border-radius: 50%;
  background-color: #f1c40f;
  position: fixed;
  bottom: 8vmax;
  right: 3vmax;
  z-index: 1;
  transition: all 500ms;
  right: -100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 4px 4px 20px 4px rgba(66, 68, 90, 0.3);
}
@media screen and (orientation: portrait) {
  .wrapper-2 .goUp-btn {
    width: 6vmax;
    height: 6vmax;
  }
}
.wrapper-2 .goUp-btn img {
  width: 2vmax;
  height: 2vmax;
  transform: rotate(180deg);
}
.wrapper-2 .goUp-btn:hover {
  transform: rotate(360deg);
}
.wrapper-2 .show {
  opacity: 1;
  right: 3vmax;
}
.wrapper-2 .wrapper-2-content {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding: 2vmax 0;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 4vmax;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-content {
    width: 95%;
  }
}
.wrapper-2 .wrapper-2-content .wrapper-2-item {
  width: 100%;
}
.wrapper-2 .wrapper-2-content .wrapper-2-item .wrapper-2-title {
  font-size: 2.1vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-content .wrapper-2-item .wrapper-2-title {
    font-size: 4vmax;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-2 .wrapper-2-content .wrapper-2-item .wrapper-2-title {
    font-size: 3.5vmax;
  }
}
.wrapper-2 .wrapper-2-content .wrapper-2-item .wrapper-2-description {
  margin-top: 0.5vmax;
  font-size: 1.3vmax;
  font-weight: 300;
}
@media screen and (orientation: portrait) {
  .wrapper-2 .wrapper-2-content .wrapper-2-item .wrapper-2-description {
    font-size: 2vmax;
  }
}

.wrapper-3 {
  width: 100%;
  padding: 7vmax 0;
  background-color: #f2f2f2;
}
.wrapper-3 .wrapper-3-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-row-gap: 4vmax;
  grid-template-columns: 1fr 1fr;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-3 .wrapper-3-container {
    width: 95%;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-img {
  width: 90%;
  margin: auto;
  height: 35vmax;
  border-radius: 2%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper-3 .wrapper-3-container .w3img1 {
  background-image: url(../assets/img/img1.jpg);
  background-position-y: 25%;
}
.wrapper-3 .wrapper-3-container .w3img2 {
  background-image: url(../assets/img/img2.jpg);
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .w3img2 {
    grid-row: 3/4;
  }
}
.wrapper-3 .wrapper-3-container .w3img3 {
  background-image: url(../assets/img/img4.jpg);
}
.wrapper-3 .wrapper-3-container .wrapper-3-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help {
  text-align: left;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help {
    width: 90%;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-title {
  font-size: 2.3vmax;
  font-weight: 400;
  text-align: left;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-title {
    font-size: 4.5vmax;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-description {
  font-size: 1.1vmax;
  margin: 2vmax 0 3vmax 0;
  font-weight: 300;
  text-align: left;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-description {
    font-size: 2vmax;
    margin: 3vmax 0 4vmax 0;
  }
}
.wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-button {
  padding: 1vmax 3vmax;
  background-color: #f1c40f;
  position: relative;
  font-size: 1.1vmax;
  cursor: pointer;
}
.wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-button::before {
  transition: 400ms ease;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: black;
}
.wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-button:hover {
  transition: 400ms ease;
  background-color: #f1c40f;
}
.wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-button:hover::before {
  width: 100%;
}
@media screen and (orientation: portrait) {
  .wrapper-3 .wrapper-3-container .wrapper-3-content .wrapper-3-help .wrapper-3-button {
    font-size: 2vmax;
    font-weight: 400;
    margin-bottom: 5vmax;
  }
}
.wrapper-3 .wrapper-3-container .img2 {
  margin-left: auto;
}

.wrapper-4 {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vmax 0 3vmax 0;
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-4 {
    padding: 0;
  }
}
.wrapper-4 .wrapper-4-content {
  width: 40%;
  background-color: #f1c40f;
  padding: 3vmax;
  margin-right: -3vmax;
  z-index: 10;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-content {
    width: 75%;
    border-radius: 2%;
    margin: auto;
    padding: 6vmax 4vmax 8vmax 4vmax;
  }
}
.wrapper-4 .wrapper-4-content h2 {
  font-size: 2.4vmax;
  font-weight: 500;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-content h2 {
    font-size: 4.5vmax;
  }
}
.wrapper-4 .wrapper-4-content p {
  margin-top: 2vmax;
  font-size: 1.1vmax;
  font-weight: 300;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-content p {
    font-size: 2vmax;
    margin-top: 4vmax;
  }
}
.wrapper-4 .wrapper-4-photo {
  width: 32vmax;
  height: 40vmax;
  background-image: url(../assets/img/imgatt1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (orientation: portrait) {
  .wrapper-4 .wrapper-4-photo {
    display: none;
  }
}

.wrapper-5 {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper-5 .wrapper-5-content {
  width: 90%;
  padding: 7vmax 0;
}
.wrapper-5 .wrapper-5-content .wrapper-5-title {
  font-weight: 500;
  font-size: 3vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-5 .wrapper-5-content .wrapper-5-title {
    font-size: 4.5vmax;
  }
}
.wrapper-5 .wrapper-5-content .wrapper-5-container {
  width: 100%;
  height: 30vmax;
  padding: 0.5vmax 0;
  margin: 3vmax auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (orientation: portrait) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container {
    grid-template-columns: 1fr;
    height: unset;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container {
    width: 90%;
  }
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box {
  width: 90%;
  height: 90%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 0.2);
}
@media screen and (orientation: portrait) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box {
    padding: 4vmax;
    height: unset;
    margin: 2vmax 0;
    border-radius: 10px;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 20% 70%;
    grid-template-areas: "icons description" "title description";
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box {
    grid-template-areas: "description description" "icons title";
    grid-template-columns: unset;
    grid-gap: 4vmax;
    padding: 3vmax;
    width: unset;
  }
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-icon {
  width: 7vmax;
  height: 7vmax;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (orientation: portrait) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-icon {
    width: 12vmax;
    height: 12vmax;
    grid-area: icons;
    margin: auto;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-icon {
    width: 7vmax;
    height: 7vmax;
  }
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .icon1 {
  background-image: url(../assets/img/reviev-lucyna.jpeg);
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .icon2 {
  background-image: url(../assets/img/reviev-agnieszka.jpeg);
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .icon3 {
  background-image: url(../assets/img/reviev-kinga.jpeg);
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .icon4 {
  background-image: url(../assets/img/reviev-ewelina.jpeg);
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-title {
  font-weight: 300;
  margin: 1vmax 0;
  font-size: 1.8vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-title {
    font-size: 3.2vmax;
    grid-area: title;
    text-align: center;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-title {
    text-align: left;
  }
}
.wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-description {
  width: 80%;
  text-align: center;
  font-weight: 200;
  font-size: 1vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-5 .wrapper-5-content .wrapper-5-container .wrapper-5-box .wrapper-5-description {
    width: 100%;
    font-size: 2.2vmax;
    grid-area: description;
  }
}

.wrapper-6 {
  width: 100%;
  height: 80%;
  padding: 0 0 4vmax 0;
  background-color: rgb(50, 50, 50);
}
.wrapper-6 .wrapper-6-title {
  font-weight: 500;
  font-size: 3vmax;
  color: #f2f2f2;
  padding: 3vmax 5vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-title {
    font-size: 4.5vmax;
  }
}
.wrapper-6 .wrapper-6-container {
  width: 80%;
  margin: 0vmax auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container {
    flex-direction: column;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-content {
  width: 40%;
  height: 100%;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-content {
    width: 75%;
    margin-top: 5vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-content p {
  font-size: 1.4vmax;
  color: #f2f2f2;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-content p {
    font-size: 2.3vmax;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social {
  width: 15vmax;
  height: 4vmax;
  margin: 5vmax 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social {
    width: 25vmax;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social .wrapper-6-social-item {
  width: 3vmax;
  height: 3vmax;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social .wrapper-6-social-item {
    width: 5vmax;
    height: 5vmax;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social .wrapper-6-social-item:hover {
  margin-top: -0.5vmax;
}
.wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social .instagram-icon {
  background-image: url(../assets/icons/instagram-icon.png);
}
.wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social .facebook-icon {
  background-image: url(../assets/icons/facebook-icon.png);
}
.wrapper-6 .wrapper-6-container .wrapper-6-content .wrapper-6-social .youtube-icon {
  background-image: url(../assets/icons/youtube-icon.png);
}
.wrapper-6 .wrapper-6-container .wrapper-6-form {
  width: 40%;
  display: flex;
  margin-right: 1vmax;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-form {
    width: 80%;
    margin-top: 5vmax;
  }
}
@media screen and (orientation: portrait) and (max-width: 450px) {
  .wrapper-6 .wrapper-6-container .wrapper-6-form {
    width: 100%;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-form .input-t1,
.wrapper-6 .wrapper-6-container .wrapper-6-form .input-t2 {
  width: 90%;
  height: 2.5vmax;
  margin: 0.5vmax 0;
  font-size: 1.2vmax;
  padding: 0.5vmax 1vmax;
  background-color: #f2f2f2;
  border-radius: 1vmax;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-form .input-t1,
.wrapper-6 .wrapper-6-container .wrapper-6-form .input-t2 {
    height: 4vmax;
    font-size: 2vmax;
    margin: 1vmax 0;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-form .input-t2 {
  height: 10vmax;
  resize: none;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-form .input-t2 {
    height: 15vmax;
  }
}
.wrapper-6 .wrapper-6-container .wrapper-6-form .wrapper-6-button {
  margin-top: 2vmax;
  background-color: #f1c40f;
  border-radius: 10vmax;
  font-size: 1.2vmax;
  padding: 0.75vmax 2vmax;
  cursor: pointer;
}
@media screen and (orientation: portrait) {
  .wrapper-6 .wrapper-6-container .wrapper-6-form .wrapper-6-button {
    font-size: 2.2vmax;
    padding: 1vmax 3vmax;
  }
}/*# sourceMappingURL=main.css.map */